.App {
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}
.recipes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px;
  font-size: 13px;

}
.search-bar {
  border:none;
  
  
  height: 30px;
  font-size: 15px;
}
.search-button {
  border: none;
  color:#943652;
  background: transparent;
  font-family: Impact;
  height: 30px;
  font-size: 20px;
}
.header {
  text-transform: uppercase;
  padding: 10px;
  letter-spacing:10px ;
  font-family:Georgia, 'Times New Roman', Times, serif;
  border: double 15px;
}
.picture {
  max-height: 40px;
  min-height: 10px;
  background: transparent;
  
}
.navbar {
  display: flex;
}
.add-your-own {
  border: double 15px;
  padding: 10px;
}
.add-your-own-button {
  background:black;
  border:none;
  height: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  letter-spacing: 2px;
  font-size:10px;
  width: 300px;
}